h1 {
    /* color: #d9dcd6;
  background-color: #81c3d7;*/
}

a {
  text-decoration: none;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81c3d7;
  padding: 2rem;
}